@import '../../App.scss';

#navbar-container {
  height: 43px;
  
  ul {
    width: fit-content;
    height: 100%;
    list-style: none;
    font-size: 14px;
    color: #666;
    font-weight: 600;
    display: flex;
    margin: auto;
    position: relative;

    
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
    }

    li {
      position: relative;
      height: 100%;
      display: flex;
      padding: 0px 10px;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      transition: .2s ease;

      &:hover {
        color: black;
      }

      input[type="radio"] {
        all: unset;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all .2s;
        transform: translateX(0px);

        &:checked::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          background-color: black;
          width: 100%;
          height: 2px;
        }
      }


    }
  }
}