.footer-container {
  padding: 20px;
  
  footer {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 600px) {
      & {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
    
    .text-container {
      font-size: 0.8em;
      font-weight: 600;
      color: #7b7b7b;
      align-self: center;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
          color: #a19595;
        }
      }
    }
  }

}

.region-icon {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
  color: #4b4b4b;
  cursor: pointer;

  font-size: 0.75em;
  font-weight: 600;
  
  &:hover {
    svg {
      fill: #a19595;
    }
    span {
      color: #a19595;
    }
  }

  span::after {
    color: inherit;
    content: "∨";
    display: block;
    font-weight: 100;
    margin-left: 7px;
    transform: scaleX(2);
    position: absolute;
    top: 3px;
    right: -15px;
  }

  svg {
    width: 20px;
    fill: #4b4b4b;
  }

  
}