@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

$btn-color: #6b6be6;
$hovered-btn-color: #5757cf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

#hr-gradient {
  width: 100%;
  height: 10px;
  background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/cc-gradient-strip-desktop?$png$&jpegSize=100&wid=599");
  background-size: cover;
}
